.Slogan-Container {
  position: inherit;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(26, 24, 30, 0.06);
  margin: 0px 160px 140px 160px;
  padding: 65px 192px 65px 192px;
  top: 134px;
  border-radius: 8px;
  z-index: 1;
}

.Slogan-Title {
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: #1a181e;
}

.Slogan-Sub-Title {
  font-weight: 300;
  font-size: 20.5px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #4d4d4d;
}

.Slogan-Word-TextField-Label {
  line-height: 24px;
  margin-top: 48px;
  color: #4d4d4d;
}

.Slogan-Word-TextField {
  width: 352px;
  height: 46px;
  border: none;
  border-radius: 4px;
  padding: 0px 16px 0px 16px;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.Slogan-Word-TextField:focus {
  outline: none;
}

.Slogan-Word-TextField-Container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  width: 352px;
  border: 1px solid #d9d9d9;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #1a181e;
}

.Slogan-Word-TextField-Container:focus-within {
  border: 1px solid #1a181e;
}

.Slogan-Word-TextField-Button {
  height: 48px;
  width: 48px;
  padding-right: 8px;
  background-color: transparent;
}

.Slogan-Generate-Button {
  background: #146eb4;
  margin-top: 48px;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 114%;
  width: 204px;
  height: 50px;
  padding: 8px 24px;
}

.Slogan-Generate-Button:hover {
  background-color: #ffffff;
  color: #146eb4;
  border: 0.5px solid #146eb4;
  transition: 0.2s;
  cursor: pointer;
}



.Slogan-Result-Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  align-content: center;
  justify-content: space-between;
}

.Slogan-Result-Title {
  font-style: normal;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #1a181e;
}

.Download-All-Button {
  background: #ffffff;
  color: #146eb4;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #146eb4;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  width: 136px;
  height: 36px;
  margin: 0px;
  border-radius: 4px;
  padding: 8px 22px;
}

.Download-All-Button:hover {
  background-color: #146eb4;
  color: #ffffff;
  border: 1px solid #146eb4;
  transition: 0.2s;
}

.Slogan-Grid-Container {
  margin-top: 44px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.Slogan-Grid-Pagination {
  display: flex;
  position: relative;
}
